<% provide(:title, 'About |') %>

<div class="map-nav about">
  <div class="row tab-row">
    <div class="small-12 column">
      <a href="#" class="tab-title default-title" id="tab-title_1">mission</a>
      <a href="#" class="tab-title" id="tab-title_2">team</a>
      <a href="#" class="tab-title" id="tab-title_3">career</a>
      <a href="#" class="tab-title" id="tab-title_4">contact</a>
    </div>
  </div>

  <div class="row image-row">
    <div class="small-12 column">
      <div class="image-wrapper">
      </div>
    </div>
  </div>

  <div class="row tagline">
    <div class="small-12 column">
      <h2>Revitilizing cities through entrepreneurship</h2>
    </div>
  </div>

  <div class="row cta">
    <div class="small-12 column">
      <%= link_to 'apply', apply_path, class: 'button large' %>
    </div>
  </div>
</div>

<section class="content-container">

<div class="page-content default-content" id="page-content_1">
  <div class="row">
    <div class="small-12">
      <h1 class="tab-header">Our Mission</h1>
    </div>
  </div>

<ol style="margin-left: 30px;">
<li> To revitalize American cities and communities through entrepreneurship.</li>
<li> To enable our best and brightest to create new opportunities for themselves and others.</li>
<li> To restore the culture of achievement to include value-creation, risk and reward, and the common good.</li>
</ol>

<div class="content">
<h3>What We Do</h3>
<h5>The Problem</h5>
<p>
Enterprising college graduates crave hands-on business experience to learn how to develop a business and create value. At the same time, many promising early-stage businesses struggle to identify, recruit, and enlist talented college graduates, in large part because they lack the resources, brand equity and scale to engage in on-campus recruiting.
</p>
<h5>The Solution</h5>
    <p>
      Venture for America will recruit the best and brightest college grads to work for two years at emerging start-ups and early-stage companies in lower-cost cities (e.g., Detroit, Providence, New Orleans). Modeled after Teach for America, Venture for America will provide a path for entrepreneurship to college grads who want to learn how to build companies and create jobs.
    </p>

    <p>
      The goal is that a substantial proportion of VFA Fellows will become successful entrepreneurs, preferably rooted in the communities to which they are assigned. Venture for America’s purpose is job generation – our immediate goal is to generate 100,000 new U.S. jobs by 2025 by helping growth companies expand and training a critical mass of our top graduates to themselves become business builders and job creators.
    </p>
</div>

</div>

<div class="page-content" id="page-content_2">
  <div class="row">
    <div class="small-12">
      <h1 class="tab-header">The Team</h1>
    </div>
  </div>

  <div class="row company-row">
    <div class="small-3 column staff-pic">
      <%= image_tag 'VFA Staff Photos/DSC_0236.jpg' %>
    </div>

    <div class="small-9 column staff-description">
     <h4>Andrew Yang</h4>
      <p>
         Founder and CEO.  Andrew is the Founder and CEO of Venture for America, a fellowship program that places top college graduates in start-ups for 2 years in low-cost U.S. cities to generate job growth and train the next generation of entrepreneurs. Andrew has worked in start-ups and early stage growth companies as a founder or executive for more than twelve years. He was the CEO and President of Manhattan GMAT, a test preparation company that was acquired by the Washington Post/Kaplan in 2009. He has also served as the co-founder of an Internet company and an executive at a health care software start-up. He has appeared on CNBC, Fox News, TIME, Techcrunch, the Wall St. Journal, and many other media outlets. Andrew was named a Champion of Change by the White House in 2011 for his work with Venture for America and one of Fast Company's "Most Creative People in Business" for 2012. He is a graduate of Columbia Law and Brown University.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column staff-pic">
      <%= image_tag 'VFA Staff Photos/DSC_0174.jpg' %>
    </div>

    <div class="small-9 column staff-description">
     <h4>Eileen Lee</h4>
      <p>
         ,COO.  Eileen was most recently a Senior Consultant at Accenture, where she specialized in managing technology integration projects for large industrial clients. Eileen's clients at Accenture included Bristol-Myers Squibb, Cargill, and Pepsico. Eileen graduated from Columbia University with a B.A. in Economics.
      </p>
    </div>
  </div>


<div class="row company-row">
    <div class="small-3 column staff-pic">
      <%= image_tag 'VFA Staff Photos/DSC_0283.jpg' %>
    </div>

    <div class="small-9 column staff-description">
     <h4>Eddie Shiomi</h4>
      <p>
         Eddie Shiomi, VP of Programs. Prior to joining VFA, Eddie spent seven years at the Coro New York Leadership center as director/trainer of numerous programs which include the Fellows Program in Public Affairs, a graduate level experiential leadership program that prepares high potential individuals for effective and ethical leadership in the public arena; and the Immigrant Civic Leadership program, a mid-career program designed to increase the capacity of people working to lead change in immigrant communities across New York City. While at Coro, Eddie delivered trainings to numerous public and private sector clients including Deutsche Bank, the NYC Department of Education, Malaria No More and City Year. A native of Los Angeles, Eddie started his career there as a Coro Fellow in Public Affairs. He then worked as campaign manager on numerous state assembly elections and served as deputy to former California Assembly Speaker Robert M. Hertzberg. Eddie was appointed co-chair of the Asian Pacific Islander American Gala reception during the 2000 Democratic National Convention. He currently serves as Vice-Chairman of the Board of Apex for Youth, a nonprofit organization which empowers underserved youth in New York City through a combination of one-to-one mentoring relationships, educational programs, and more recently, the incubation of a charter school in Central Queens which is set to open in the Fall of 2012. You can find him on weekends leading a 4th and 5th grade basketball league at Alfred E. Smith Public School #1 in Manhattan. Eddie received a B.S. in Biochemistry from the University of California, Los Angeles.
      </p>
    </div>
  </div>


<div class="row company-row">
    <div class="small-3 column staff-pic">
      <%= image_tag 'VFA Staff Photos/DSC_0260.jpg' %>
    </div>

    <div class="small-9 column staff-description">
     <h4>Peter Crysdale</h4>
      <p>
         Peter Crysdale, Director of Programs. Peter is a serial entrepreneur and former Peace Corps volunteer (Burkina Faso). He has worked with numerous startups in both consulting and full-time capacities, most recently as the COO of Evivio where he oversaw marketing, sales and product development. He holds a B.S. in Civil Engineering from Cornell University.
      </p>
    </div>
  </div>
<div class="row company-row">
    <div class="small-3 column staff-pic">
      <%= image_tag 'VFA Staff Photos/DSC_0159.jpg' %>
    </div>

    <div class="small-9 column staff-description">
     <h4>Mike Tarullo</h4>
      <p>
         Mike Tarullo, VP of Corporate Development. Mike was previously Director of Client Services and a founding team member at venture-backed NYC staffing startup Solvate, which helps creative and digital freelancers find work. There he led efforts in sales, marketing, and business development at various junctures. Prior to that, he was a marketing consultant at the boutique Greenwich Marketing Group, developing positioning strategy for clients including JP Morgan Chase, Johnson & Johnson, and Bausch & Lomb. Before that, he co-founded a content aggregation startup and worked on a political campaign. Mike received his B.A. in Psychology from Duke University.
      </p>
    </div>
  </div>
<div class="row company-row">
    <div class="small-3 column staff-pic">
      <%= image_tag 'VFA Staff Photos/DSC_0207.jpg' %>
    </div>

    <div class="small-9 column staff-description">
     <h4>Lauren Gill</h4>
      <p>
        Lauren Gill, Talent and Retention Manager. Prior to joining Venture for America, Lauren was a Teach for America corps member. In her two years teaching 6th grade science in Washington, D.C., she organized a videoconference between students and astronauts aboard the International Space Station and earned the position of Cross-Curricular Team Leader. Lauren graduated from Lehigh University in 2010 with a major in Psychology and minors in Business and Spanish. Her internship experiences include time with Big Brothers Big Sisters of Massachusetts Bay in Special Events and with Boston Early Intervention as a Resource Specialist.
      </p>
    </div>
  </div>
<div class="row company-row">
    <div class="small-3 column staff-pic">
      <%= image_tag 'VFA Staff Photos/DSC_0189.jpg' %>
    </div>

    <div class="small-9 column staff-description">
     <h4>Megan Hurlburt</h4>
      <p>
         Megan Hurlburt, Communications and Development Manager. Megan is a graduate of the College of Charleston in South Carolina, where she majored in Communication with a concentration in Media Studies. During her time in Charleston, Megan completed events, development and media internships with Spoleto Festival USA, Ronald McDonald House and CHARLIE Magazine, an online publication celebrating progressive culture.
      </p>
    </div>
  </div>
<div class="row company-row">
    <div class="small-3 column staff-pic">
      <%= image_tag 'VFA Staff Photos/DSC_0314.jpg' %>
    </div>

    <div class="small-9 column staff-description">
     <h4>Elisabeth Deogracias</h4>
      <p>
         Elisabeth Deogracias, Operations Associate. Elisabeth is a recent graduate of New York University with a degree in Environmental Studies and concentration in Urban Development. She has worked with a social enterprise that provides entrepreneurial training for youth, led operations at a start-up artisanal company, and interned with an environmental non-profit.
      </p>
    </div>
  </div>
<div class="row company-row">
    <div class="small-3 column staff-pic">
      <%= image_tag 'VFA Staff Photos/DSC_0202.jpg' %>
    </div>

    <div class="small-9 column staff-description">
     <h4>Zainab Hasnain</h4>
      <p>
         Zainab Hasnain, Assistant to the CEO. Zainab is a 2011 graduate of New York University with a degree in Politics, Economics and Business Studies. During her time at NYU, Zainab was a starter for the Women’s Varsity Fencing team, and was also a member of the traveling Model United Nations team. Prior to joining Venture for America, Zainab worked at Barclays Capital. Shortly after, she left the banking industry to work in the music industry at Dubspot, an electronic music production and DJ school, where she was a member of the marketing team. She is also a volunteer and team leader for New York Cares.


      </p>
    </div>
  </div>
<div class="row company-row">
    <div class="small-3 column staff-pic">
      <%= image_tag 'VFA Staff Photos/DSC_0221.jpg' %>
    </div>

    <div class="small-9 column staff-description">
     <h4>Zeve Sanderson</h4>
      <p>Zeve Sanderson, Recruitment Ambassador. Zeve is a student at New York University working towards a degree in Politics with a minor in Creative Writing. He plays point guard on the NYU Basketball Team, tutors in the Writing Center, and interned at the ACLU.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column staff-pic">
      <%= image_tag 'VFA Staff Photos/DSC_0295.jpg' %>
    </div>

    <div class="small-9 column staff-description">
     <h4>Dominic Merolla</h4>
      <p>A haiku:
<b> Mysterious is </b>
<b> what we think Dominic is </b>
<b> no bio on web! </b>
      </p>
    </div>
  </div>
</div>

<div class="page-content" id="page-content_3">
  <div class="row">
    <div class="small-12 column">
      <h1>Career</h1>
    </div>
  </div>

  <p>Venture for America is committed to building a team of diverse professionals passionate about our mission. We look for the same qualities in a full-time position as we do in our Venture fellows. Qualities that distinguish successful entrepreneurs, include:</p>
<ul style="margin-left: 30px;">
<li>Intellect and Independent Thinking</li>
<li>Determination/Ability to Surmount Obstacles/Resourcefulness</li>
<li>Leadership Ability/Initiative</li>
<li>Communication and Interpersonal Skills</li>
<li>Purpose-Driven/Character</li>
</ul>
<h3>Organization Overview</h3>
<p>
Venture for America (VFA) is a non-profit organization that seeks to 1) Drive talent to create jobs and spur enterprise in lower-cost cities; 2) Provide a path to entrepreneurship for young, talented college graduates; and 3) Help place recent graduates in start-ups around the country. Venture for America will do for entrepreneurship what Teach for America has done for education-provide a program for young, talented grads to spend 2 years in the trenches of a start-up with the goal that these young graduates will become socialized and mobilized as entrepreneurs moving forward. Board members include experienced executives, entrepreneurs, and investors. For more information, go to
<a target="_blank" href="http://www.ventureforamerica.org/team">www.ventureforamerica.org/team</a>
<wbr></wbr>
.
</p>
<h3>Current Openings</h3>
<ul style="margin-left: 30px;">
<li>Development Manager</li>
<li>Recruitment Associate</li>
</ul>
<h3>DEVELOPMENT MANAGER</h3>
<p>Venture for America is seeking a Development Manager to drive VFA fundraising activities and initiatives. We're looking for an energetic, reliable team player who can quickly learn the ropes of this non-traditional development role and gain increasing ownership over VFA's short- and long-term financial wellbeing.</p>
<p>
To date, Venture for America has raised over $3 MM through a combination of national and regional foundations, corporate sponsors, and individuals, including the charitable arms of Bank of America, Blackstone, and PwC, and donors like the CEO of Zappos, Tony Hsieh (see
<a target="_blank" href="http://ventureforamerica.org/supporters">
ventureforamerica.org/
<wbr></wbr>
supporters
</a>
for more information). This is an exciting role for someone who wants to grow with the organization, building fundraising infrastructure from scratch and developing strategy and processes to ensure Venture for America's fundraising success along the way.
</p>
<p>Qualifications:</p>
<ul style="margin-left: 30px;">
<li>Bachelor's or advanced degree</li>
<li>3+ years relevant experience</li>
<li>Excellent organization skills and attention to detail</li>
<li>Strong verbal and written communication skills; can speak compellingly about our organization, mission, and goals and has a mature presence</li>
<li>Ability to prioritize and manage multiple tasks simultaneously; high degree of personal responsibility</li>
<li>Resiliency; ability to operate under pressure in a fast-paced, deadline-driven startup environment</li>
<li>Ability to build and leverage relationships with foundations, corporations, board members and individual donors to achieve ambitious results</li>
<li>Strong values alignment with VFA mission and team culture</li>
</ul>
<p>Responsibilities:</p>
<ul style="margin-left: 30px;">
<li>Take increasing ownership of Venture for America fundraising activities, serving as a representative of the organization to potential and current funders</li>
<li>Help develop fundraising infrastructure and processes</li>
<li>Design and implement internal tracking systems for resource development</li>
<li>Grow and manage relationships with existing foundation, individual, and corporate donors</li>
<li>Research and identify potential funding opportunities; develop and cultivate new relationships</li>
<li>Coordinate and attend fundraising meetings and events</li>
<li>Write and edit fund proposals, reports, and other fundraising-related materials as needed; develop budgets for grants and corporate giving</li>
<li>Assist with board development, including board engagement strategies, preparing for board meetings, and corresponding with board members</li>
</ul>
<p>Opportunities:</p>
<ul style="margin-left: 30px;">
<li>Join an innovative and rapidly expanding national organization that is unique among nonprofits</li>
<li>Become a core team member at a mission-driven company with a vibrant, fun company culture</li>
<li>Enjoy a dynamic startup environment with varied responsibilities and a different challenge each day (we mean it-there are always plenty of interesting problems to work on!)</li>
<li>Cultivate resources for a program that will direct top grads to an opportunity that will allow them to make a difference while achieving personal success</li>
<li>Contribute to Venture for America's success in rebuilding the country through entrepreneurship</li>
</ul>
<p>Compensation, Benefits, Etc.:</p>
<ul style="margin-left: 30px;">
<li>Compensation commensurate with experience</li>
<li>Health, dental, and vision insurance benefits</li>
<li>Unlimited vacation time</li>
</ul>
<p>
If interested, please send a resume and cover letter detailing your interest to
<a target="_blank" href="mailto:jobs@ventureforamerica.org">jobs@ventureforamerica.org</a>
. The title of the email should be "Application for Development Manager [your name]". If you meet our qualifications, we will contact you for a phone interview.
</p>
<h3>Recruitment Associate</h3>
<p>Venture for America is looking for a Recruitment Associate to support the Recruitment Manager in assembling a talented group of top graduates for the 2014 Venture for America Fellowship and raising national awareness about the program among college students. We're looking for an energetic, reliable team player with both a passion and an aptitude for talent acquisition. </p>
<p>Qualifications: </p>
<ul style="margin-left: 30px;">
<li>Bachelors or advanced degree</li>
<li>1-4 years of relevant professional experience</li>
<li>Great organization skills</li>
<li>Ability prioritize and manage multiple tasks simultaneously</li>
<li>Willingness to travel up to 25%</li>
<li>Outgoing and social disposition with a high degree of interpersonal attunement</li>
<li>Resiliency; operates well under pressure and tight deadlines</li>
<li>Ability to interact with college students, campus administrators, and various stakeholders</li>
<li>Exceptional communication skills, particularly public speaking</li>
<li>Proficiency with Adobe Creative Suite and Salesforce</li>
<li>Strong values alignment with VFA mission and team</li>
</ul>
<p>Responsibilities: </p>
<ul style="margin-left: 30px;">
<li>Plan and execute recruitment events and initiatives</li>
<li>Build and maintain strategic relationships/partnerships</li>
<li>Act as liaison between VFA and career services offices, student organizations, etc.</li>
<li>Develop informational and promotional media</li>
<li>Manage recruitment calendar</li>
<li>Engage in direct outreach through social media, email, in-person events, etc.</li>
<li>Coordinate Campus Ambassador program</li>
<li>Support application review, selection processes, and admissions protocol</li>
<li>Act as point of contact for prospective applicants, candidates, and Fellows</li>
<li>Perform various administrative functions including Salesforce upkeep</li>
<li>Provide broad operational support for the Recruitment Department</li>
</ul>
<p>Opportunities: </p>
<ul style="margin-left: 30px;">
<li>Work at a mission-driven organization with fantastic company culture</li>
<li>Join a team of young, passionate professionals</li>
<li>Enjoy a dynamic environment with varied responsibilities and a different challenge each day</li>
<li>Travel to college campuses nationwide</li>
<li>Interact with talented undergraduates, professors, campus administrators, etc.</li>
<li>Develop communication and organization skills</li>
<li>Direct top grads to an opportunity that will allow them to make a difference while achieving personal success</li>
<li>Contribute to Venture for America's success in rebuilding the country through entrepreneurship</li>
</ul>
<p>Compensation, Benefits, Etc.: </p>
<ul style="margin-left: 30px;">
<li>Compensation commensurate with experience</li>
<li>Health, dental, and vision insurance benefits</li>
<li>Unlimited vacation time</li>
</ul>
</div>

<div class="page-content" id="page-content_4">
  <div class="row">
    <div class="small-12 column">
      <h1>Contact</h1>
    </div>
  </div>

  <div class="row">
  <div class="small-12 column">
    <%= image_tag 'map.jpg' %>
  </div>
</div>

<div class="row">
  <div class="small-12 column">

<p>
Office: 450 Park Avenue South, 8th Floor, New York, NY 10016
</p>

<p>Mailing Address:</p>
<p>Venture for America</p>
<p>c/o Eileen Lee</p>
<p>450 Park Avenue South, 8th Floor</p>
<p>New York, NY 10016</p>

<p>
<a href="mailto:info@ventureforamerica.org?Subject=info@ventureforamerica.org">info@ventureforamerica.org</a>    |    (646) 801-0466</p>

</div>
</div>

</div>

</section>