<% provide(:title, 'Companies |') %>

<div class="map-nav blue">
  <div class="row tab-row">
    <div class="small-12 column">
      <a href="#" class="tab-title first-title" id="tab-title_1">company matchmaking</a>
      <a href="#" class="tab-title" id="tab-title_2">company application</a>
      <a href="#" class="tab-title default-title" id="tab-title_3">current companies</a>
    </div>
  </div>

  <div class="row image-row">
    <div class="small-12 column">
      <div class="image-wrapper">

      </div>
    </div>
  </div>

  <ul class="row city-list">
    <div class="small-6 column city-left">
      <li>
        <a href="#" class="tab-title default-title" id="tab-title_3">
          <%= image_tag 'circlev.png', height: '30', width: '30' %>
          <span>New Orleans</span>
        </a>
      </li>

      <li>
        <a href="#" class="tab-title" id="tab-title_4">
          <%= image_tag 'circlev.png', height: '30', width: '30' %>
          <span>Detroit</span>
        </a>
      </li>

      <li>
        <a href="#" class="tab-title" id="tab-title_5">
          <%= image_tag 'circlev.png', height: '30', width: '30' %>
          <span>Las Vegas</span>
        </a>
      </li>

      <li>
        <a href="#" class="tab-title" id="tab-title_6">
          <%= image_tag 'circlev.png', height: '30', width: '30' %>
          <span>Providence</span>
        </a>
      </li>
    </div>

    <div class="small-6 column city-right">
      <li>
        <a href="#" class="tab-title" id="tab-title_7">
          <%= image_tag 'circlev.png', height: '30', width: '30' %>
          <span>Philadelphia</span>
        </a>
      </li>

      <li>
        <a href="#" class="tab-title" id="tab-title_8">
          <%= image_tag 'circlev.png', height: '30', width: '30' %>
          <span>Baltimore</span>
        </a>
      </li>

      <li>
        <a href="#" class="tab-title" id="tab-title_9">
          <%= image_tag 'circlev.png', height: '30', width: '30' %>
          <span>Cleveland</span>
        </a>
      </li>

      <li>
        <a href="#" class="tab-title" id="tab-title_10">
          <%= image_tag 'circlev.png', height: '30', width: '30' %>
          <span>Cincinnati</span>
        </a>
      </li>
    </div>
  </ul>

  <div class="row cta">
    <div class="small-12 column">
      <%= link_to 'apply', apply_path, class: 'button large' %>
    </div>
  </div>
</div>

<section class="content-container">

<div class="page-content" id="page-content_1">
  <div class="row">
    <div class="small-12">
      <h1 class="tab-header">Company Matchmaking</h1>
    </div>
  </div>

  <div class="content">
  <div class="small-12 column">
<h3>Details about the Company Matchmaking Process</h3>
    <p>
      The process begins with introductions between VFA Partner Companies and the Fellows. Each fellow finds themselves thrown into conversations with a handful of firms looking for talent to fill specific organizational needs. These positions vary by firm, and help develop the dynamic set of job offerings that appeal to recent graduates. Initial conversations and interviews will lead to offers from one or more companies. VFA ensures every Fellow ends up at excellent firm, where there is a great fit for both parties.
    </p>
    <p> Our first year we placed all 40 fellows, the first Fellow on March 15th and the last on August 1st. The majority of hiring decisions occurred between late April and early June."
    </p>
<br>
<h3>Matchmaking and Placement Timeline</h3>
<br>
<strong>5 steps to the VFA Fellow-Company Matchmaking and Placement Process:</strong>

<p> We take into consideration what we know about the Fellow, the Fellow’s preferences, and the needs of our companies when matches between Fellows and Companies are made.</p>
<p>First, Fellows receive a survey to share their skills and preferences for role, company type, location, etc. VFA can’t guarantee your first-choice placement — you might not be precisely what the company needs — but every Fellow ends up placed at a company that’s a great mutual fit, based on their skills and preferences.</p>
<p>Meanwhile, our Partner Companies are informing VFA whether they are hiring this summer, then give us their hiring wants and needs in terms of specific jobs and cultural fit. VFA develops relationships with each startup, usually through on-site visits and trusted referrals from our in-city partners. We rely on these relationships and partners to help identify which companies would be good fits for a Fellow based on quality leadership, relative financial stability, and a high-potential working and learning environment.</p>
<p>VFA matches each Fellow with several companies for interviews, based on preferences from Fellows and Companies as well as our team’s experience of what makes a good match.
</p>
<p>Once a match is made, each Fellow is responsible for managing his/her own interview process, with VFA providing guidance, support, and additional matches as needed.</p>
<p>The first part of the formal interview process is a phone interview with the partner company. At this point in the process, the company may also ask the Fellow for a Skype interview, work product or additional interviews, depending on their regular hiring process.</p>
<p>Site visits are a chance for the Fellow and the company’s team to get to know one another to determine culture fit, and for the Fellow to impress the company enough to potentially garner an offer. Most Fellows only go on one or two site visits before finding a great match.</p>
<p>For the Fellow, the overnight site visit gives the opportunity to explore the city and meet with VFA Fellows and supporters who already live there. VFA provides contacts in each city, and covers the cost of site travel.</p>
<p>If the site visit goes well and the startup thinks the Fellow is a great fit, they will extend an offer. It is the Fellow’s right to accept or reject any offer.</p>
<p>Once placements begin in August:</p>
<ul style="margin-left: 30px;">
<li>Fellows become full-time employees of the company</li>
<li>Salaries range from $33K- $38K depending on city, and companies have the option of offering equity or options</li>
<li>It is at the company’s discretion to provide the Fellow with raises, promotions, equity, bonuses, etc. based on performance</li>
<li>There is no “end date” to a Fellow’s tenure with the company, but they commit to work there for at least two years</li>
</ul>


  </div>
</div>
</div>

<div class="page-content" id="page-content_2">
  <div class="row">
    <div class="small-12">
      <h1 class="tab-header">Company Application</h1>
      <p>
        If you are interested in becoming a VFA company, email or call us at <br>
        <span class="contact-info">info@ventureforamerica.org | (646) 801-0466</span>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="small-4 column">
      <%= image_tag 'cartoons/nola.jpg' %>
    </div>

    <div class="small-4 column">
      <%= image_tag 'cartoons/detroit.jpg' %>
    </div>

    <div class="small-4 column">
      <%= image_tag 'cartoons/cinci.jpg' %>
    </div>
  </div>
</div>

<div class="page-content default-content" id="page-content_3">
  <div class="row">
    <div class="small-12 column">
      <h1>VFA Companies: New Orleans</h1>
    </div>
  </div>

  <div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/carrollton.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.carrolltongroup.com">Carrollton Technology Partners</a>
         exists for the purpose of working with clients to improve their operations. They utilize two main lines of business, custom programming and website development and systems analysis and network services to accomplish this mission. To serve a broader audience they also create their own software and solutions as commercial products.
      </p>
    </div>
  </div>


<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/EMHstrategy.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.emhstrategy.com/">EMH Strategy</a>
         is a strategy and management consulting firm, founded by John Elstrott, Ralph Maurer and Jeremy Hunnewell. Its consultants offer customized solutions to assist businesses experiencing periods of profound change or grappling with complex and ambiguous issues. EMH Strategy'’s mission is to provide its clients with the expertise and knowledge of a large business consulting firm combined with the superior customer service, rigorous methodologies, and sensitivity to local context made possible in a boutique firm.
      </p>
    </div>
  </div>


<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/federatedsample.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.federatedsample.com">Federated Sample</a>
         is a market research technology firm focused on bringing efficiency and automation to sampling through the Fulcrum Platform. Fulcrum is the world’'s first complete project management suite to give clients the power to seamlessly integrate multiple suppliers, increase productivity and reduce costs.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/kickboardlogo.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.kickboardforteachers.com">Kickboard</a>
         is a web-based software that enables teachers to use data to improve student performance. Kickboard’s intuitive interface gives teachers and administrators the ability to collect and analyze academic and behavioral performance efficiently and in real time so that they can make appropriate and timely interventions.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/RES.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://res.us/">Resource Environmental Solutions</a>
         is a web-based software that enables teachers to use data to improve student performance. Kickboard’s intuitive interface gives teachers and administrators the ability to collect and analyze academic and behavioral performance efficiently and in real time so that they can make appropriate and timely interventions.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/staffinsight.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.staffinsight.com/">StaffInsight</a>
         helps healthcare facilities minimize the crippling turnover in their nursing staff. With robust enterprise scheduling at its core, Schedulist empowers facilities to optimize their staffing while giving the staff unparalleled ability to manage their lives. Using its patent-pending technology, Schedulist ensures that hospitals achieve the highest levels of efficiency and job satisfaction.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/Turbosquid.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.turbosquid.com/">TurboSquid</a>
         is the largest library of 3D products for sale in the world, a clearinghouse for digital artists to make money selling their content, a place to find premium plug-ins for 3D software applications, a forum for 3D professionals to exchange ideas, and a production tool to help digital artists more rapidly find, preview and acquire essential content.
      </p>
    </div>
  </div>


<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/VoiceHit.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.betterdayhealth.com">Voice HIT</a>
         is a web-based software platform that uses real-time data as well as data from third-party applications and devices to help physicians and patients manage health. In the simplest terms, VoiceHIT connects your doctors with your devices, with your mobile apps.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/Voodoo.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.voodooventures.com/">Voodoo Ventures</a> matches talented partners with great ideas to build businesses. By providing resources and expertise, they work with people to make ideas into reality.
      </p>
    </div>
  </div>



<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/IDScan.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.idscan.net/">ID Scan</a>  is a leader in identification scanning technology, offering quality cost-effective solutions for all ID scanning needs. They are proud to officially represent major manufacturers of the most advanced ID scanning systems for Windows, iOS and Android: E-seek, IPC, IDTech, KoamTac and others.
      </p>
    </div>
  </div>
</div>

<div class="page-content" id="page-content_4">
  <div class="row">
    <div class="small-12 column">
      <h1>
        VFA Companies: Detroit
      </h1>
    </div>
  </div>

  <div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/Accio-Energy.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.accioenergy.com/">Accio Energy</a>is making distributed wind energy systems scalable, reliable, and affordable with Aerovoltaic energy systems that directly convert wind energy to electricity without any moving parts. Accio Energy Aerovoltaic energy systems offer the low cost of big wind with the modularity and flexibility of solar. It’s a new direction in wind energy.
      </p>
    </div>
  </div>


<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/areyouhuman.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://areyouahuman.com/">Are You Human?</a>has breakthrough authentication technology that distinguishes real people from the bots with PlayThru, a quick, easy game that requires the user to drag an object into a specific location. Simple as it sounds, PlayThru does a much better job of thwarting a spam bot, plus it’s fun for the user and it has tons of marketing potential.
      </p>
    </div>
  </div>



<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/BedrockLogo.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://bedrockmgt.com/">Bedrock Management</a>is strong real estate. Operating in Detroit and Cleveland as part of the Quicken Loans family of companies, the Bedrock team has a strong legacy as a real estate manager, developer and investor. Bedrock’s talent is also available to third-parties as an advisor, joint venture partner or property manager.
      </p>
    </div>
  </div>






<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/benzinga.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.benzinga.com/">Benzinga</a>is an innovative news and analysis service that focuses on global markets. Provides original, accurate and timely global financial content every day and features content from industry experts and experienced analysts while also covering the news of the day.
      </p>
    </div>
  </div>





<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/Bizdom.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://bizdom.com/">Bizdom</a> is a startup accelerator that helps entrepreneurs launch, fund and grow innovative, web and tech-based startups. Bizdom is a nonprofit that was founded by Dan Gilbert, founder and chairman of Quicken Loans, majority owner of the Cleveland Cavaliers, and general partner of Detroit Venture Partners.
      </p>
    </div>
  </div>



<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/DandelionDetroit.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.dandeliondetroit.com/">Dandelion</a>  is a team of design thinkers studying problems visible on the ground in Detroit. Once they identify the problems, Dandelion then leverages its network in conjunction with community partners to take the biggest problems, break them into smaller problems and design process based solutions to be iterated in Detroit, proven viable and replicated globally.
      </p>
    </div>
  </div>



<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/DVP.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://detroitventurepartners.com/">Detroit Venture Partners</a>   is a venture capital firm for seed and early-stage technology companies who are on a mission to help rebuild the Detroit area through entrepreneurial fire and building businesses.
      </p>
    </div>
  </div>



<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/digerati.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://digerati.co/">Digerati</a>   analyzes existing technological processes used by businesses across diverse industries and helps them create solutions that optimize current resources and work together with new technologies.
      </p>
    </div>
  </div>



<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/grandcircus.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.grandcircus.co/">Grand Circus</a>    is a tech training institute and co-working space in the heart of downtown Detroit. With an emphasis on programming, design, and business skills, Grand Circus aims to address the skill gaps in Detroit while promoting a tight community of entrepreneurs.
      </p>
    </div>
  </div>


<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/Doodle_Home.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="https://www.doodlehome.com//">Doodle Home</a>   Doodle Home is an online destination for consumers, designers and manufacturers of luxury home furnishings. Founded in 2010, Doodle Home revolutionizes the way interior design is practiced in the 21st century. At Doodle Home, we are passionate about simplifying the design process and providing the tools and resources to enhance the experiences and strengthen the connections among all members of the interior design ecosystem.
      </p>
    </div>
  </div>




<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/NextEnergy.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.nextenergy.org///">Next Energy</a>   mission is to accelerate energy security, economic competitiveness, and environmental responsibility through the growth of advanced-energy technologies, businesses, and industries. The idea is to build on intellectual, entrepreneurial, and industry resources available in Michigan to advance alternative energy across the United States and around the world. NextEnergy’s experience includes an array of projects in three general areas: Technology Demonstration, Industry and Venture Development, and Public Sector Leadership.
      </p>
    </div>
  </div>



<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/Quickly.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="https://www.quikly.com////">Quickly</a>   provides short term offers to places you know and brands you love. The quicker you claim them, the bigger the deal. Quiklys are released at random and players are notified the moment they go live. Quikly specializes in bringing college students the things they love.
      </p>
    </div>
  </div>







<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/stik.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.stik.com/">Stik</a>  is a web business based in Detroit, specializing in small business recommendations. The platform helps small businesses collect, display and manage recommendations from past clients and supporters, and helps consumers find small businesses recommended by their friends.
      </p>
    </div>
  </div>


<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/iRule.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.iruleathome.com/">iRule</a> converts your mobile device into the best universal remote control in the world.
      </p>
    </div>
  </div>



<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/fontinalispartners.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.fontinalis.com/#index">Fontinalis Partners</a> was established to invest in and scale next-gen mobility companies. Fontinalis’ mission is to draw upon its team’s extensive industry experience and deep networks in the transportation industry and adjacent markets to grow innovative companies. Fontinalis takes a value-added approach to helping scale its portfolio companies by combining its resources and assuming an active, hands-on role.
      </p>
    </div>
  </div>



<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/detroitlabs.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.detroitlabs.com/">Detroit Labs</a> is a tech startup launchpad. They exist to help venture backed startups in Detroit make wise tech decisions and get incredible service. Affiliated with Detroit Venture Partners, Detroit Labs is also going to invest internally and develop products and services their employees come up with, eventually funding them through DVP and spinning them off to their own businesses.
      </p>
    </div>
  </div>
</div>

<div class="page-content" id="page-content_5">
  <div class="row">
    <div class="small-12 column">
      <h1>
        VFA Companies: Las Vegas
      </h1>
    </div>
  </div>

  <div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/Downtown Project.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://downtownproject.com">The Downtown Project</a>
         founded by Zappos.com CEO and author of Delivering Happiness Tony Hsieh, is a $350 million project to rebuild downtown Las Vegas. They plan to invest $100 million in real estate, $100 million in residential development, $50 million in small businesses, $50 million in education, and $50 million in tech startups through the VegasTech Fund. Hsieh and his team have committed to transforming Downtown Las Vegas into the most community-focused large city in the world by inspiring and empowering people to follow their passions to create a vibrant, connected urban core. Focus areas will include Arts, Music & Culture, Community & Coworking, Education, Entrepreneurship, Technology, and Urban Development.
      </p>
    </div>
  </div>
</div>

<div class="page-content" id="page-content_6">
  <div class="row">
    <div class="small-12 column">
      <h1>
        VFA Companies: Providence
      </h1>
    </div>
  </div>

  <div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/Andera.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.andera.com/">Andera</a>
         is the leader in online customer acquisition solutions for financial institutions. Its suite of products and services includes online account opening, consumer marketing, fraud prevention and an in-house software development kit.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/MoFuse.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://mofuse.com/">Mofuse</a>
         is the global leader in Mobile Web Content Management. It provides a Software-as-a-Service (SaaS) platform that customers use to easily build mobile web sites, microsites, landing pages and forms. The Platform optimizes mobile sites for every smart phone and feature phone around the world offering solutions such as search, mobile commerce, click-to-call leads, mobile advertisements, and forms for mobile data capture. Mofuse’s mission is to make the mobile web affordable and easy for any business to build and manage a mobile website.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/swipely.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="https://swipely.com/about/">Swipely</a>
         gives you cash back on purchases plus loyalty rewards, free! It downloads transactions from your card via our banking technology partner using a secure, read-only connection trusted by more than 5,000 banks and 26 million consumers.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/TeeSpring.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://teespring.com/">TeeSpring</a>
         is an innovative way to create buzz around events, promotions, and fundraisers by offering a no-risk, no-hassle way to create & sell custom t-shirts online. It allows customers to design a shirt, choose a sales goal and tipping point, and start selling. Once the campaign hits the tipping point, they’'ll organize printing/shipping and send you a check for your profits.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/121nexus.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.121nexus.com/">121Nexus</a>   brought the concept of Personal Media™ to market. The company’s debut product, 121 Campaign™, was deployed with political campaigns in 2012 to create personalized voter experiences centered on issues relevant to each individual voter, using an app that drives up calls to action from voters using field-deployed unique links. 121 Campaign’s customers included Obama for America, where the product played a pivotal role in securing the state of Ohio and winning the 2012 Presidential election. The validation and success of the technology in political campaigns attracted new investors to fund a deployment of the same technology to solve recall and counterfeiting problems in biomedical track & trace under the PharTrack™ and IFUTrack™ brands.
      </p>
    </div>
  </div>




<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/Betaspring.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.betaspring.com/">Betaspring</a>    is a mentorship-driven startup accelerator program for technology and design entrepreneurs who are ready to launch a company and change the world.
      </p>
    </div>
  </div>



<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/shapeup.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.shapeup.com/">ShapeUp</a>    is the leading global provider of clinically-proven, social networking-based employee wellness programs that help people exercise more, eat healthier, and lose weight. Founded in 2006 by two medical doctors, ShapeUp has pioneered an innovative approach to behavior change that leverages the power of social networking, gaming, coaching, and financial rewards to improve the health of large populations and reduce healthcare costs. ShapeUp’s social wellness platform covers two million lives across 90 countries and is used by more than 200 employers and health plans.
      </p>
    </div>
  </div>




<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/Ximedica.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.ximedica.com/">Ximedica</a>     is a full service ISO 13485 certified and FDA registered product development firm with an exclusive focus on medical products. With more than 25 years of experience developing medical devices, combination products, and consumer healthcare products, their client base spans the globe and ranges from start-ups to the world’s largest OEMs. Their mission is to create products that meet international regulatory requirements and strategic business goals.
      </p>
    </div>
  </div>





<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/Focal.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.focaluprightfurniture.com/">Focal Upright Furniture</a> is the maker of the revolutionary new Locus Workstation, an award-winning (ErgoExpo 2012) ergonomic and adjustable desk that eliminates back pain by splitting the difference between sitting and standing.
      </p>
    </div>
  </div>



<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/splitwise.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://splitwise.com/">Splitwise</a>  is an expense sharing platform that helps people split costs easily and fairly. Their platform helps roommates, friends and family track shared bills easily on the smart phone or on the web. They also provide unique fairness content to help people decide how to split things fairly.
      </p>
    </div>
  </div>

</div>

<div class="page-content" id="page-content_7">
  <div class="row">
    <div class="small-12 column">
      <h1>
        VFA Companies: Philadelphia
      </h1>
    </div>
  </div>

  <div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/Curalate.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.curalate.com/">Curalate</a>
        is a first-of-its-kind marketing platform for the visual web. As Pinterest and other visual-based platforms are grabbing a huge portion of online engagement, Curalate allows users to measure and track their presence within the visual web. </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/LeadiD.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.leadid.com/">LeadiD</a>
        allows Lead Sellers to prove that they’re selling quality leads as well as gaining real-time buyer dispositions, and Lead Buyers to make the best decisions about the leads they buy.</p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/GrapheneFrontiers.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://graphenefrontiers.com/">Graphene Frontiers</a>
        is working towards roll-to-roll production and transfer of chemical vapor deposition (CVD) graphene films. Their material will be used as a transparent conductor and encapsulating ultra-high barrier film for thin, flexible electronics, including organic light emitting diode (OLED) and organic photovoltaic (OPV) devices.</p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/RJMetrics.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="https://www.rjmetrics.com/">RJMetrics</a>
       is a fast-growing, innovative database analytics and business intelligence software company. They sell their hosted software to startups and growth-stage e-commerce, social media, and software-as-a-service businesses.</p>
    </div>
  </div>
</div>

<div class="page-content" id="page-content_8">
  <div class="row">
    <div class="small-12 column">
      <h1>
        VFA Companies: Baltimore
      </h1>
    </div>
  </div>

  <div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/vigilant.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://vigilantmedical.net/">Vigilant Medical</a>
         enhances collaboration between physicians by providing access to medical images anytime, anywhere.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/pixelligent.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.pixelligent.com/">Pixelligent</a>
         produces high-quality nanocrystal dispersions and polymer nanocomposites for demanding applications in the electronics, industrial, and military markets. They work closely with leading-edge technology firms and Fortune 1000 companies to create highly customized solutions that dramatically improve their products.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/riskive.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://riskive.com/">Riskive</a>
         is a “stealth-mode” cyber security technology start-up headquartered outside of Fort Meade, Maryland. Online adversaries and their advanced cyber weapons are continuing to outpace the traditional and currently available security product countermeasures. Riskive’s solution helps secure organizations and users alike from the next generation of cyber threats by identifying and preventing attacks before they occur.
      </p>
    </div>
  </div>
</div>

<div class="page-content" id="page-content_9">
  <div class="row">
    <div class="small-12 column">
      <h1>
        VFA Companies: Cleveland
      </h1>
    </div>
  </div>

  <div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/Vizzle.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.monarchteachtech.com/vizZle/">Vizzle</a>
         empowers educators, clinicians, and parents to effectively engage, communicate with, and educate individuals with autism and other communication disorders.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/decisiondesk.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.decisiondesk.com/">Decision Desk</a>
         offers a cloud-based application manager that allows organizations to quickly access, filter and review multimedia-enhanced application materials, saving your organization valuable time and money.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/genomoncology.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.genomoncology.com/">GenomOncology</a>
         can rapidly and interactively analyze and interpret sequenced genomic data with their proprietary software and analytical tools. Their approach enables them to capture critical findings for the cancer researcher or clinical oncologist and produce a robust analysis report in less than a day.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/tackk.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://Tackk.com/">Tackk</a>
         offers a simple new format that allows anyone to instantly create and share their content on the web. No software or login is required. No design skill needed. No community to join. Just visit the Tackk home page and start typing. When you’re done creating your Tackk, you can immediately share it with friends in your social networks or the internet at large. It’s no more complicated than tacking a flier to the coffee shop bulletin board.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/linestream.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.linestream.com/">Linestream</a>
         is changing the automation market with software products that radically improve efficiency. LineStream’s revolutionary control technology replaces an aging solution that is inefficient and expensive. In partnership with industry leading chip and controller providers, LineStream unlocks previously unrealizable efficiency in countless products ranging from washing machines to industrial equipment.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/boxcast.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="https://www.boxcast.com/">Boxcast</a>
        is a complete video streaming solution that fits in the palm of every user’s hand. Anyone with a video camera can broadcast live video through their website, e-mail, or social media. Viewers tune-in using any Internet connected computer, tablet, or modern smartphone.
      </p>
    </div>
  </div>


<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/paragonrobotics.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.paragonrobotics.com/#website/home/en-US.html">Paragon Robotics</a>
        creates hardware and software products to improve the energy efficiency of buildings and processes.
      </p>
    </div>
  </div>

</div>

<div class="page-content fellows" id="page-content_10">
  <div class="row">
    <div class="small-12 column">
      <h1>
        VFA Companies: Cincinnati
      </h1>
    </div>
  </div>

  <div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/cincytech.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://cincytechusa.com">CincyTech</a>
         is a public-private partnership whose mission is to invest in high-growth startup technology companies in Southwest Ohio. They do this through management assistance, seed-capital investments and connections to partners who share their mission.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/cintrifuse.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.cintrifuse.com">Cintrifuse</a>
         provides a supportive community of global industry leaders and a built-in path to product testing opportunities, early review of emerging technology, talent recruitment and retention, investment sources, customers, revenue and exit opportunities. Cintrifuse provides innovation capital that leverages a network of seed and angel investors, venture capital firms, strategic investors, and other high-potential investment sources. These strategic institutions, including Procter & Gamble, Children’s Hospital, Duke Energy and University of Cincinnati, will provide startups with access to its expertise, strategic relationships, and other collaborative resources. Cintrifuse Capital Fund will invest in early stage venture funds from across the U.S. that are interested in accessing these valuable connections.
      </p>
    </div>
  </div>


<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/ilesfay.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.ilesfay.com">ilesfay</a>
         ensures that the right data gets to the right person at the right time using cloud technologies. Their founders have over 30 years of combined experience solving the problem of distributed expertise and data for Fortune 100 clients. In the past, huge capital investment has been required to build cumbersome point-to-point solutions in which the amount of data or distributed demand for data far outstrips the infrastructure. This has led to users wasting time working on the wrong information and thus making poor decisions, missing project deadlines, and redoing work.
      </p>
    </div>
  </div>


<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/OneMorePallete.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://onemorepallet.com/">OneMorePallet</a>
         an easy to use web application that makes shipping more efficient by finding spare pallets on trucks, and letting customers bid on them, Priceline-style. More money and less waste for trucking companies, plus low-cost shipping for customers!
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/Roadtrippers.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="https://roadtrippers.com">Roadtrippers</a>
         a simple and intuitive road trip planner that helps discover, plan and book the best places and experiences along your way, curated by local experts and travel writers.
      </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/Zipscene.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://zipscene.com">Zipscene</a>
         a simple and intuitive road trip planner that helps discover, plan and book the best places and experiences along your way, curated by local experts and travel writers.
      </p>
    </div>
  </div>

  <div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/lisnr.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://lisnr.com">Lisnr</a>
         gives artists a new way to connect with their fans. By installing Lisnr on a mobile device, users will unlock exclusive content created by the artists they love, just by listening to their favorite music. Lisnr also works at live events, dynamically responding to the surrounding environment, and giving users a secondary experience to share with their friends. Lisnr only ‘hears’ the ultra-sonic frequencies embedded in Lisnr-enabled tracks. Once this frequency is picked up by your phone’s internal microphone, you’ll receive a push notification if any content has been unlocked. </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/myActions.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://myactions.org/">myActions</a>
        significantly increases the sustainable actions of individuals and organizations by allowing them to join or create a team in an existing “challenge.” Individuals and organizations are further empowered by easily creating their own “challenges.” For maximum results, organizations can engage our team to professionally design, manage and/or execute a “challenge” for them. </p>
    </div>
  </div>

<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/bioformix.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://www.bioformix.com/index.html/">Bioformix</a>
        develops sustainable polymer platforms that polymerize with little-to-no energy at high speeds to outperform current products in extreme temperature resistance, environmental resistance and physical performance. They plan to commercialize the platform through a wide range of leveraged value chain relationships, from simple licenses to full joint ventures, thus supporting individually each unique opportunity as necessary. Bioformix’'s core technology expertise is high-speed, high-performance chemistry that enables product and process feature breakthroughs that translate into financially significant benefits for clients and their customers. </p>
    </div>
  </div>


<div class="row company-row">
    <div class="small-3 column company-pic">
      <%= image_tag 'Companies/petbrosia.jpg' %>
    </div>

    <div class="small-9 column company-description">
      <p>
        <a href="http://petbrosia.com/">Petbrosia</a>
        offers the first-ever pet food individually designed for your pets unique nutritional needs to support healthy living throughout life. Every Pet Is Unique! Their food should be too. </p>
    </div>
  </div>

</div>

</section>