<% provide(:title, 'Fellows |') %>

<div class="map-nav corral">
  <div class="row tab-row">
    <div class="small-12 column">
      <a href="#" class="tab-title first-title" id="tab-title_1">Experience</a>
      <a href="#" class="tab-title" id="tab-title_2">admissions</a>
      <a href="#" class="tab-title default-title" id="tab-title_3">current fellows</a>
    </div>
  </div>

  <div class="row image-row">
    <div class="small-12 column">
      <div class="image-wrapper">

      </div>
    </div>
  </div>

  <ul class="row city-list">
    <div class="small-6 column city-left">
      <li>
        <a href="#" class="tab-title default-title" id="tab-title_3">
          <%= image_tag 'circlev.png' %>
          <span>New Orleans</span>
        </a>
      </li>

      <li>
        <a href="#" class="tab-title" id="tab-title_4">
          <%= image_tag 'circlev.png' %>
          <span>Detroit</span>
        </a>
      </li>

      <li>
        <a href="#" class="tab-title" id="tab-title_5">
          <%= image_tag 'circlev.png' %>
          <span>Las Vegas</span>
        </a>
      </li>

      <li>
        <a href="#" class="tab-title" id="tab-title_6">
          <%= image_tag 'circlev.png' %>
          <span>Providence</span>
        </a>
      </li>
    </div>

    <div class="small-6 column city-right">
      <li>
        <a href="#" class="tab-title" id="tab-title_7">
          <%= image_tag 'circlev.png' %>
          <span>Philadelphia</span>
        </a>
      </li>

      <li>
        <a href="#" class="tab-title" id="tab-title_8">
          <%= image_tag 'circlev.png' %>
          <span>Baltimore</span>
        </a>
      </li>

      <li>
        <a href="#" class="tab-title" id="tab-title_9">
          <%= image_tag 'circlev.png' %>
          <span>Cleveland</span>
        </a>
      </li>

      <li>
        <a href="#" class="tab-title" id="tab-title_10">
          <%= image_tag 'circlev.png' %>
          <span>Cincinnati</span>
        </a>
      </li>
    </div>
  </ul>

  <div class="row cta">
    <div class="small-12 column">
      <%= link_to 'apply', apply_path, class: 'button large' %>
    </div>
  </div>
</div>

<section class="content-container">

<div class="page-content" id="page-content_1">
  <div class="row">
    <div class="small-12">
      <h1 class="tab-header">Fellowship Experience</h1>
    </div>
  </div>
</div>

<div class="page-content" id="page-content_2">
  <div class="row">
    <div class="small-12">
      <h1 class="tab-header">admissions</h1>
    </div>
  </div>
</div>

<div class="page-content default-content" id="page-content_3">
  <div class="row">
    <div class="small-12 column">
      <h1>
        Current Fellows: New Orleans
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h3>
        2012
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h3>
        2013
      </h3>
    </div>
  </div>
</div>

<div class="page-content" id="page-content_4">
  <div class="row">
    <div class="small-12 column">
      <h1>
        Current Fellows: Detroit
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h3>
        2012
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h3>
        2013
      </h3>
    </div>
  </div>
</div>

<div class="page-content" id="page-content_5">
  <div class="row">
    <div class="small-12 column">
      <h1>
        Current Fellows: Las Vegas
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h3>
        2012
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h3>
        2013
      </h3>
    </div>
  </div>
</div>

<div class="page-content" id="page-content_6">
  <div class="row">
    <div class="small-12 column">
      <h1>
        Current Fellows: Providence
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h3>
        2012
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h3>
        2013
      </h3>
    </div>
  </div>
</div>

<div class="page-content" id="page-content_7">
  <div class="row">
    <div class="small-12 column">
      <h1>
        Current Fellows: Philadelphia
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h3>
        2012
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h3>
        2013
      </h3>
    </div>
  </div>
</div>

<div class="page-content" id="page-content_8">
  <div class="row">
    <div class="small-12 column">
      <h1>
        Current Fellows: Baltimore
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h3>
        2012
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h3>
        2013
      </h3>
    </div>
  </div>
</div>

<div class="page-content" id="page-content_9">
  <div class="row">
    <div class="small-12 column">
      <h1>
        Current Fellows: Cleveland
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h3>
        2012
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h3>
        2013
      </h3>
    </div>
  </div>

</div>

<div class="page-content fellows" id="page-content_10">
  <div class="row">
    <div class="small-12 column">
      <h1>
        Current Fellows: Cincinnati
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h3>
        2012
      </h3>
    </div>
  </div>

  <div class="row fellow-row">
    <div class="small-6 column fellow-wrapper left-fellow">
      <div class="row fellow-summary">
        <div class="small-6 column">
          <div class="crop">
            <img src="/assets/fellows photos/Brian-Feldman.jpg" alt="BrianHeadshot" />
          </div>
        </div>

        <div class="small-6 column">
          <h3>Brian Feldman</h3>
          <h4>ClevelandCo</h4>
          <p>Washington University in St Louis</p>
        </div>
      </div>

      <div class="row">
        <div class="small-12 column">
          <p id="bio"><span>Brian</span> is a senior at Washington University in St.
            Louis where he is studying Philosophy-Neuroscience-Psychology,
            Classics, and Creative Writing. He grew up in Rhode Island and
            spent his summers working as the lead editor for Application Boot
            Camp, a premier college admissions consultancy, and as an educator
            at the Farm School, a sustainable agriculture program. In addition
            to studying abroad in Athens, Greece and at the University of Oxford,
            Brian has worked as a research assistant in three psychology labs,
            has conducted a study on infants’ social preferences, and has
            authored an Ancient Greek exercise manual. Some of his interests
            include basketball, fonts, writing, and meeting new people.
          </p>
        </div>
      </div>
    </div>

    <div class="small-6 column fellow-wrapper">
      <div class="row fellow-summary">
        <div class="small-6 column">
          <div class="crop">
            <img src="/assets/fellows photos/Brian-Feldman.jpg" alt="BrianHeadshot" />
          </div>
        </div>

        <div class="small-6 column">
          <h3>Brian Feldman</h3>
          <h4>ClevelandCo</h4>
          <p>Washington University in St Louis</p>
        </div>
      </div>

      <div class="row">
        <div class="small-12 column">
          <p id="bio"><span>Brian</span> is a senior at Washington University in St.
            Louis where he is studying Philosophy-Neuroscience-Psychology,
            Classics, and Creative Writing. He grew up in Rhode Island and
            spent his summers working as the lead editor for Application Boot
            Camp, a premier college admissions consultancy, and as an educator
            at the Farm School, a sustainable agriculture program. In addition
            to studying abroad in Athens, Greece and at the University of Oxford,
            Brian has worked as a research assistant in three psychology labs,
            has conducted a study on infants’ social preferences, and has
            authored an Ancient Greek exercise manual. Some of his interests
            include basketball, fonts, writing, and meeting new people.
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="small-12 column">
      <h3>
        2013
      </h3>
    </div>
  </div>

</div>

</section>