<div id="home-background-color">
  <div id="home_wrapper">
    <section id="home_ctas">
      <%= link_to 'apply', apply_path, class: 'large button corral-button' %>
      <%= link_to 'learn', fellows_path, class: 'large button alt-button' %>
    </section>

    <div class="row press-row">
      <div class="small-12">
        <h3>Press</h3>
        <%= image_tag('press/fastco.png') %>
        <%= image_tag('press/huffpost.png') %>
        <%= image_tag('press/nyt.png') %>
        <%= image_tag('press/wsj.png') %>
      </div>
    </div>
  </div>

  <%= render partial: 'layouts/footer' %>
</div>




