<div id="home-background-color">
  <div id="home_wrapper">
    <ul id="home_ctas">
      <li><%= link_to 'apply', apply_path, class: 'large button corral-button cta-1' %></li>
      <li><%= link_to 'explore', fellows_path, class: 'button alt-button cta-2' %></li>
    </ul>

    <div class="row press-row">
      <div class="small-12">
        <h3>Press</h3>
        <%= image_tag('press/fastco.png') %>
        <%= image_tag('press/nyt.png') %>
        <%= image_tag('press/wsj.png') %>
      </div>
    </div>
  </div>

  <%= render partial: 'layouts/footer' %>
</div>




